@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .team-section {
        padding-top: 96px;
        padding-bottom: 104px;
    }

    .team-item {
        width: calc((100% - 48px) / 2);
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .customers-list {
        /* width: calc((100% - 48px) / 3); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        column-gap: 24px;
    }

    .customers-item {
        width: 168px;
    }

}

@media screen and (min-width: 768px), (max-width:1199) {
    .container-sm {
        max-width: 584px;
    }

    .footer-description {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
    }

    .footer-descript {
        margin-right: 24px;
    }

    .footer-social-subtitle {
        text-align: start;
    }

    .main-footer-logo {
        justify-content: flex-start;
    }

    .footer-form-block {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 24px
    }

    .footer-form {
        justify-content: inherit;
        margin-bottom: 0px;
        min-width: 264px;
    }

    .footer-label {
        justify-content: flex-start;
    }
}